# PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=library_db
DB_USER=library_app
DB_PASSWORD=

# Node.js
HOST=127.0.0.1
PORT=3000

# Sesiones
SESSION_SECRET=

# Entorno
NODE_ENV=development